
#main-board {
    padding-top: 1vw;
}

@media (min-width: 1110px){
    #main-board {
        grid-template-areas:
            'left   top_bar      .'
            'left   board       right-black'
            'left   board       right'
            'left   board       right-white'
            'left   bottom_bar   .'
            ' .     bottom       .  ';
        grid-template-columns: 1fr 1fr 0.8fr;
    }

    .board-graphics__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 1110px){
    #main-board {
        --zoom: 100;
        grid-template-areas:
            ' . right-black . '
            ' . top_bar     . '
            ' . board       . '
            ' . bottom_bar  . '
            ' . right-white . '
            ' . left        . '
            ' . right       . '
            ' . bottom      . ';
        grid-template-rows: min-content min-content;
        grid-template-columns: auto var(--game-width) auto;
        width: 100%;
    }
    #puzzles, #panel {
        width: var(--game-width);
        margin: auto;
    }
}

@media (min-aspect-ratio: 1/1){
    #main-board {
        --zoom: 85;
        --game-width: calc(var(--zoom) * 1vh);
        --game-height: calc(var(--zoom) * 1vh);
    }
    #main-board .board-graphics__files, #main-board .board-graphics__ranks {
        font-size: 2vh;
    }
}

@media (max-aspect-ratio: 1/1){
    #main-board {
        margin: 0px;
        --game-width: calc(100vw);
        --game-height: calc(100vw);
    }
    #main-board .board-graphics__files, #main-board .board-graphics__ranks {
        font-size: 2vw;
    }
}

/* GAME LOADING */

#game-loading {
    display: flex;
    grid-area: loading;
}

#game-loading_index {
    text-align: center;
    font-size: large;
}

#game-loading_next,
#game-loading_prev {
    padding: 5px 20px;
}
